<html lang="tr">
<div th:fragment="content">


<div class="form-group">
<form action="#" th:action="@{/admin/create}" th:object="${admin}" method="get">
<div class="col-md-3">
    <p><input type="text" class="form-control" placeholder="Name" th:field="*{name}" /></p>
    <p><input type="text" class="form-control" placeholder="Surname"  th:field="*{surname}" /></p>
    <p><input type="number" class="form-control" placeholder="Birth Date"  th:field="*{birthDate}" /></p>
     <p><input type="number" class="form-control" placeholder="TCKNO"  th:field="*{tckn}" /></p>
    <p><input type="text" class="form-control" placeholder="E mail"  th:field="*{email}" /></p>
    <p><input type="text" class="form-control" placeholder="Password"  th:field="*{password}" /></p>
    <p><input type="number" class="form-control" placeholder="Phone"  th:field="*{phone}" /></p>
     <p><input type="text" class="form-control" placeholder="LKDNO"  th:field="*{lkdNo}" /></p> 
       
    <p><b><input type="submit" class="btn btn-primary" value="Submit" /></p></b>
    </div>
</form>
</div>


</div>
</html>