<html lang="tr">
<th:block th:fragment="content">
	<div class="form-group">
		<form action="#" th:action="@{/course/update/__*{id}__}" th:object="${course}"
			method="post">
			<div class="col-md-3">
				<p>
					<input type="text" class="form-control" placeholder="Name"
						th:field="*{name}" th:value="*{name}" />
				</p>
				<p>
					<input type="text" class="form-control" placeholder="Description"
						th:field="*{description}" th:value="*{description}"/>
				</p>
				<p>
					<input type="text" class="form-control" placeholder="Prerequisites"
						th:field="*{prerequisites}" th:value="*{prerequisites}"/>
				</p>
				<p>
					<input type="text" class="form-control" placeholder="detailPageLink"
						th:field="*{detailPageLink}" th:value="*{detailPageLink}"/>
				</p>
				
				
				<input type="submit" class="btn btn-primary" value="Submit" /> <input
					type="reset" class="btn btn-primary" value="Reset" />
			</div>
		</form>
	</div>
	</th>
</html>