<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>LINUX YAZ KAMPI</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/resources/css/sticky-footer-navbar.css}" rel="stylesheet" />
<link th:href="@{/resources/css/common.css}" rel="stylesheet" />
</head>
<body>
	<!-- Fixed navbar -->
	<!-- Fixed navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">Camp Automation</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/}">Home</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Admin <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/admin/create}">Create Admin</a></li>
							<li><a th:href="@{/admin}">Show Admins</a></li>
							<li><a href="#">Something else here</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Instructor <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/instructor/create}">Create Instructor</a></li>
							<li><a th:href="@{/instructor}">Show Instructors</a></li>
							<li><a href="#">Something else here</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Course <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/course/create}">Create Course</a></li>
							<li><a th:href="@{/course}">Show Course</a></li>
							<li><a href="#">Something else here</a></li>
						</ul></li>
					<li><a th:href="@{/basvuru}">Başvuru Formu</a></li>
					<li><a th:href="@{/basvuru/applications}">Applications</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- /Fixed navbar -->
	<main class="container"> 
	<th:block th:include="${layout_main} :: content">
	</th:block> </main>
	<footer class="footer" style="background-color: #222;">
		<div class="container text-center">
			<p class="text-muted">Place sticky footer content here.</p>
		</div>
	</footer>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>